$body-bg: #fff;
$body-font-color: #5e5e5e;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$header-font-color: $body-font-color;
$header-font-weight: 300;

$primary-color: #71ce17;

// custom grid
// $row-width: em-calc(1000);
// $column-gutter: em-calc(30);
// $total-columns: 12;

// custom base-font-size without grid changes
// $base-font-size: 20px;
// $em-base: $base-font-size;